################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BankApplication
/AccountService/bin/Debug/netcoreapp2.2
/AccountService/obj
/ApiGateway/obj
/CustomerService/obj
/TransactionService/obj
